.zoxFaqTitleDiv,
.orderingTitleDiv,
.shippingTitleDiv,
.accountTitleDiv,
.loyaltyTitleDiv {
  margin-top: 40px;
  margin-bottom: 10px;
}

.zoxFaqTitle,
.orderingTitle,
.shippingTitle,
.accountTitle,
.loyaltyTitle {
  color: black;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.125;
  font-family: "Jost", sans-serif;
}
