.zoxFaqTitleDiv,
.orderingTitleDiv,
.shippingTitleDiv,
.accountTitleDiv,
.loyaltyTitleDiv,
.zoxPassTitleDiv,
.productTitleDiv,
.subscriptionsTitleDiv,
.returnsTitleDiv {
  margin-top: 40px;
  margin-bottom: 10px;
}

.zoxFaqTitle,
.orderingTitle,
.shippingTitle,
.accountTitle,
.loyaltyTitle,
.zoxPassTitle,
.productTitle,
.subscriptionsTitle,
.returnsTitle {
  color: black;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.125;
  font-family: "Jost", sans-serif;
}
